.div_parent {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.light {
  background: #fff;
  color: #000;
}
.light {
  background: #242424;
  color: #fff;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9px;
  height: 90%;
  margin: auto 0;
  border-radius: 38px;
  padding: 0.2rem;
}
.line_light {
  background: #fff;
  
  
}
.line_dark {
  background: #222;

}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: transparent;
}
